In this file, we will learn to create & manipulate databases. We will also learn some operations on handling databases in **MySQL**. 
* We need to download and install **MySQL** from [here](https://www.mysql.com/downloads/). Watch [video](https://www.youtube.com/watch?v=OM4aZJW_Ojs) for step by step installation
* After installing **MySQL** we also need server to use it with Python.
* `mysql.connector` will provide us the features as a server to our python script, we can download it from [here](https://dev.mysql.com/downloads/connector/python/).

### Connecting MySQL with Python

If we have installed **MySQl** in our systems, we must have our username and password. We need to use these in our python script to connect it with **MySQL**.

In [1]:
# !pip install mysql --user

In [2]:
# !pip uninstall mysql-connector

In [3]:
# !pip uninstall mysql-connector-python

In [4]:
# !pip install mysql-connector-python-rf
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [5]:
## Connecting to the database
## importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

In [7]:
## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "localhost",
    user = "root",
    password = "waqas1986")

print(db) # it will print a connection object if everything is fine

<mysql.connector.connection.MySQLConnection object at 0x0000013A31846A48>

In this way we can connect MySQL with Python.
* Watch [video](https://www.youtube.com/watch?v=Ygis_0DKKMg) if we get `Authentication plugin 'caching_sha2_password' is not supported` error

### Creating Database

In **MySQL**, we need to create a Database using a command `CREATE DATABASE DATABASE NAME`. Now lets see how we can create a database using python:

In [8]:
## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datascience'
## 'execute()' method is used to compile a 'SQL' statement
cursor.execute("CREATE DATABASE datascience")

Make sure whenever we create a new database, it should be with a unique name, otherwise it will give an error. To see all the databases that we have created using a command `SHOW DATABASES` :

In [10]:
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

## printing the list of databases
print(databases)

[('datascience',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [11]:
## showing one by one database
for database in databases:
    print(database)

('datascience',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

### Creating Tables in MySQL Database

We make tables in a database to store information. To create a table we need to select a database from all the databases that we have build in our system. 
* We will select the database that we just created above as **datascience**:

In [12]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "waqas1986",
    database = "datascience"
)

Now we will Create a New Table in our database

In [13]:
cursor = db.cursor()

## creating a table called 'users' in the 'datascience' database
cursor.execute("CREATE TABLE users (name VARCHAR(255), user_name VARCHAR(255))")

`VARCHAR` means **variable character**. It is a datatype used in MySQL. We need to give number of predefined spaces, that we think will be the length of the each entry in the table.

The most commonly used datatypes used in MySQL are – 
* Integer, 
* Char, 
* Varchar, 
* Float, and 
* Date.

In [14]:
# see tables in database

cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

# showing all the tables one by one
for table in tables:
    print(table)

('users',)

### Primary Key

**Primary key** is a column in a table, that can become a column of unique values in the table, for example – Admission number, enrollment number, id number, and so on. Now let’s see how we can make a primary key in a table:

In [15]:
## first we have to 'drop' the table which has already created to create it again with the 'PRIMARY KEY'
## 'DROP TABLE table_name' statement will drop the table from a database
cursor.execute("DROP TABLE users")

## creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute("""CREATE TABLE users (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, 
               name VARCHAR(255), 
               user_name VARCHAR(255))""")

### Inserting Data in a Table

To insert data into a table `INSERT INTO Table Name(Column Name) VALUES (Entry)` command is used. Now let’s see how we can execute this statement with python:

In [16]:
## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"

## storing values in a variable
values = ("Hafeez", "hafeez")

## executing the query with values
cursor.execute(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "record inserted")

1 record inserted

Above code inserted one record in the table. Lets see how can we insert multiple records in the table:

In [17]:
## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"

## storing values in a variable
values = [
    ("Peter", "peter"),
    ("Amy", "amy"),
    ("Michael", "michael"),
    ("Hennah", "hennah")
]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "records inserted")

4 records inserted

### Select Data From Table

To select the data from the table `SELECT column name FROM table name` command is used. But if we want to see all the data rather than a particular column then `SELECT * FROM table name` command is used. Now let’s have a look at all the records in the table:

In [18]:
## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 'Hafeez', 'hafeez')
(2, 'Peter', 'peter')
(3, 'Amy', 'amy')
(4, 'Michael', 'michael')
(5, 'Hennah', 'hennah')

To select data from a particular column:

In [19]:
## defining the Query
query = "SELECT user_name FROM users"

## getting 'user_name' column from the table
cursor.execute(query)

## fetching all usernames from the 'cursor' object
usernames = cursor.fetchall()

## Showing the data
for username in usernames:
    print(username)

('hafeez',)
('peter',)
('amy',)
('michael',)
('hennah',)

Select data from more than one column:

In [20]:
## defining the Query
query = "SELECT name, user_name FROM users"

## getting 'name', 'user_name' columns from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
data = cursor.fetchall()

## Showing the data
for pair in data:
    print(pair)

('Hafeez', 'hafeez')
('Peter', 'peter')
('Amy', 'amy')
('Michael', 'michael')
('Hennah', 'hennah')

### `Where` Command in MySQL with Python

`Where` command is one of the most used commands in **MySQL**. It is used to select the data on the basis on any condition. While doing analysis `Where` command is highly used as compared to all other commands. Let’s have a look how we can use a `Where` Command:

In [21]:
## defining the Query
query = "SELECT * FROM users WHERE id = 5"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(5, 'Hennah', 'hennah')

We can use the the `Where` command by specifying the conditions on the basis of our data.

### `Update` Command

The Update command is used to update the records of our table. Let’s have a look how we can use an `Update` command:

In [22]:
## defining the Query
query = "UPDATE users SET name = 'Kareem' WHERE id = 1"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()

Now let’s have a look at the data whether the records are updated or not:

In [23]:
## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 'Kareem', 'hafeez')
(2, 'Peter', 'peter')
(3, 'Amy', 'amy')
(4, 'Michael', 'michael')
(5, 'Hennah', 'hennah')

These were the most useful commands if we are looking to create a database using **MySQL with Python**. We are now ready to use this knowledge in creating our own databases.